@import "header.css";
@import "footer.css";

.body-pantalla-juego {
  width: 100%;
}

.fondo-pantalla {
  /* background-image: url('../imagenes/fondo.jpg'); */
  background: #434851;
}

.pantalla-juego {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
  max-width: 1200px;
  margin: 0 auto;
  border-left: 4px double white;
  border-right: 6px ridge grey;
}

.datos-partida {
  display: inline-flex;
  width: 100%;
  height: 5vh;
  /* margin-top: 10vh; */
  border-bottom: 2px solid black;
  background-image: linear-gradient(to bottom right, #8e8282, yellow);
}

.tema-pregunta {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.jugador {
  position: absolute;

  width: 25%;
  height: 100%;
  overflow: hidden;
}

.imagen-jugador {
  position: absolute;
  z-index: 100;
  width: 12vw;
  height: 12vw;
  padding-top: 1%;
  padding-left: 1%;
  max-width: 144px;
    max-height: 144px;
}

.boton-foto-jugador {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.boton-foto-jugador>img {
  width: 100%;
}

.datos-jugador {
  z-index: 99;
  position: relative;
  left: -100%;
  display: none;
  flex-direction: column;
  width: 100%;
  /* height: 56vh; */
  padding-top: 12vh;
  border-bottom-right-radius: 28px;
  /* background-color: #000000e0; */
  background-color: #0a0a58db;
  justify-content: space-between;

}

.datos-jugador>ul>li {
  padding: 3% 0;
  list-style-type: none;
  color: white;
}

.boton-cerrar-sesion {
  text-decoration: none;
text-align: center;
  font-weight: bold;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 21%;
  padding: 5px;
  border-radius: 5px;
  color:white;
  background-color: black;
}

.boton-opcion {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
  width: 80%;
  height: 6vh;
  margin: 1% auto;
  color: #282525;
  border-top-left-radius: 3% 20%;
  border-top-right-radius: 3% 20%;
  border-bottom-right-radius: 3% 20%;
  border-bottom-left-radius: 3% 20%;
  background-color: #fff;
  box-shadow: 0 3px 0 #4e4e4d;
}

.boton-opcion:hover {
  position: relative;
  top: 1px;
  transition: all .2s ease;
  box-shadow: 0 0 10px rgba(49, 138, 172, 1);
}

.contenedor-pregunta::after {
  position: absolute;
  z-index: 1;
  width: 65%;
  height: 17vh;
  content: '';
  transform: rotate(-3deg);
  border-radius: 12px;
  background: #f5f5f5;
  box-shadow: 0 2px 4px #393939;
}

.contenedor-pregunta::before {
  position: absolute;
  width: 65%;
  height: 17vh;
  content: '';
  transform: rotate(2.55deg);
  border-radius: 12px;
  background: #f5f5f5;
  box-shadow: 0 2px 4px #393939;
}

.tarjeta-pregunta {
  z-index: 3;
  display: flex;
  width: 98%;
  height: 17vh;
  margin: 3% auto;
  padding: 2%;
  border-radius: 12px;
  background: #f5f5f5;
  box-shadow: 0 2px 4px #393939;
  justify-content: center;
  align-items: center;
}

.contenedor-pregunta {
  display: flex;
  width: 65%;
  height: 17vh;
  margin: 4vh auto;
  align-items: center;
}

.contenedor-respuestas {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  border-top-left-radius: 10% 20%;
  border-top-right-radius: 10% 20%;
  border-bottom-right-radius: 10% 20%;
  border-bottom-left-radius: 10% 20%;
}

.pregunta {
  font-size: 1.5em;
  font-weight: 700;
  z-index: 3;
  text-align: center;
  color: #646464;
}

.no-float {
  display: block;
}
